NODE_ENV=""

# Database (Aiven MySQL: copy host/port/user/pass from the service overview, CA cert as one line with \n)
NUXT_DATABASE_USER=""
NUXT_DATABASE_PASS=""
NUXT_DATABASE_HOST=""
NUXT_DATABASE_PORT=""
NUXT_DATABASE_NAME=""
NUXT_DATABASE_LOG="false"
NUXT_DATABASE_SYNC="false"
NUXT_DATABASE_ALTER="false"
NUXT_DATABASE_FORCE="false"
NUXT_DATABASE_DIALECT="mysql"
NUXT_DATABASE_CERTIFICATE=""

# Mail
NUXT_GMAIL_ADDRESS=""
NUXT_GMAIL_PASSWORD=""
NUXT_DEV_GMAIL_ADDRESS=""
NUXT_ARCHMAIL_URL=""
NUXT_ARCHMAIL_APIKEY=""

# JWT lifetimes
NUXT_JWT_ACCESS_LIFE=""
NUXT_JWT_REFRESH_LIFE=""
NUXT_JWT_RESET_LIFE=""
NUXT_JWT_VERIFY_LIFE=""
NUXT_JWT_ESP32_LIFE=""
NUXT_JWT_ESP32_CAM_LIFE=""
NUXT_JWT_SMS_LIFE=""

# JWT secrets
NUXT_JWT_ACCESS_SECRET=""
NUXT_JWT_REFRESH_SECRET=""
NUXT_JWT_RESET_SECRET=""
NUXT_JWT_VERIFY_SECRET=""
NUXT_JWT_ESP32_SECRET=""
NUXT_JWT_ESP32_CAM_SECRET=""
NUXT_JWT_SMS_SECRET=""

# Public
NUXT_PUBLIC_JWT_RESET_LIFE=""
NUXT_PUBLIC_JWT_VERIFY_LIFE=""
